@charset "UTF-8";

*{
    padding: 0%;
    margin: 0px;
}
:root{
    --cor1 :#39F5D6;
    --cor2 :#218F7D;
    --cor3: #afffd793;
    --cor4: #38D6F5;

}
body{
    min-width: 280px;
    width: 100vw;

}
::-webkit-scrollbar{
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor4);
    padding: 20px 0px;
    min-width: 280px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
h1{
    font-size: 3em;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    position: absolute;
}

footer{
    display: flex;
    width: 100%;
}
